h1 {
    color: rgb(255, 0, 0);
    text-align: center;
}
block {
background-color: rgb(0, 0, 255);
}


.block {
    background-color: rgb(241, 212, 212);
    border-style: solid;
    border-width: 2px;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
}

img {
    width: 50%;
    margin: auto;
    display: block;

}
h2{ 
    background-color: rgba(103, 105, 107, 0.486);
    padding-left: 5px;
    border-radius: 15px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

a {
 text-decoration-line: none;    
 color: rgb(21, 19, 155) ;
}
a:hover {
    color: rgb(253, 7, 7);
  }
    


